body{
    margin: 0;
    border: solid;
    display: flex;
    flex-direction: column;
}
#gameTitleAndTop {
background-image: url("./imagenes/fondoLargo.png");
height: 237px;
display: flex;
justify-content: center;
align-items: center;
}
.backTop {
    display: flex;
    flex-direction: row;
}
.fondo {
    margin: 0;
    border: 0;
}

.gameTitle img{
  width: 400px;
}

#gameAndInfo {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 560px;
}
#displayJuego{
    width: 900px;
}
canvas {
    margin-top: 0;
    user-select: none;
}
#gameAndInfo #scoreBoard {
}
.gameOver {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 100px;
    right: 30%;
    display:none;
}
#scoreBoard .info {
    font-size: 40px;
}
#instrucciones img {
    height: 560px;
    margin-right: 0;
}
.botones {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#instrucciones{
    align-self: auto;
    margin: 0;
}
