body{
    margin: 0;
    border: solid;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#gameTitleAndTop {
background-image: url("./imagenes/fondoLargo.png");
height: 237px;
display: flex;
justify-content: center;
align-items: center;
}
.backTop {
    display: flex;
    flex-direction: row;
}
.fondo {
    margin: 0;
    border: 0;
}

.gameTitle img{
  width: 400px;
}

#gameAndInfo {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 560px;
}

#scoreBoard{
    background-image: url("./imagenes/Panel\ de\ Score2.png");
    background-size: 291px 560px;
    background-repeat: no-repeat;
    padding-left: 50px;
    height: 560px;
    width: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#displayJuego{
    width: 900px;
}
canvas {
    margin: 0;
    user-select: none;
}

.gameOver {
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 100px;
    right: 30%;
    display:none;
}

#scoreBoard .info {
    font-size: 25px;
    color: white;  
}

#instrucciones img {
    height: 560px;
}
.botones {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#instrucciones{
    margin: 0;
}

.infoScoreName{
    display: flex;
    align-items: center;
    margin: 0;
}

.info img{
    margin-right: 15px;
    padding: 0px;
}

.infoSavedYetis{
    display: flex;
    align-items: center; 
    margin: 0;
}

.infoA{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white; 
}

.infoA img{
    margin-right: 15px;
    padding: 0px;
}

.ScoreText{
    margin: 0;
}

.btnStartGame{
color: black;
background-color: darkorange;
width: 150px;
height: 50px;
border-radius: 20px;
font-size: 20px;
font-weight: bold;
}

.btnRestarttGame{
    color: black;
    background-color: darkorange;
width: 170px;
height: 50px;
border-radius: 20px;
font-size: 20px;
font-weight: bold;
}
